html {
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
