.header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background-color: darkseagreen;
  z-index: -1;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    text-decoration: none;
    font-size: 28px;
    color: black;
  }

  &__list {
    display: flex;
    gap: 30px;
    list-style-type: none;
  }

  &__link {
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding-bottom: 1px;
    transition: 0.5s;
    &:hover {
      border-bottom: 3px solid #000;
    }

    &__menu {
      background-color: transparent;
      width: 100px;
      height: 50px;
    }
  }

  .fa-solid {
    display: flex;
    font-size: 24px;
    color: darkgreen;
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .header {
    &__list {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 60%;
      height: 100vh;
      background-color: darkseagreen;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 1s all;
    }

    .none {
      left: -100%;
    }

    .fa-solid {
      display: flex;
      margin-right: 30px;
    }
  }
}
